{
  "name": "Tripleonetech APK service",
  "server": {
    "port": 7101
  },
  "jwtOptions": {
    "expiresIn": "180d"
  },
  "secret": {
    "jwt": "jwtsecret",
    "token": "abcd1234",
    "cookie": "xyz987"
  },
  "timeout": {
    "token": 7200
  }
}