{
  "name": "Tripleonetech APK service",
  "server": {
    "port": 7102
  },
  "jwtOptions": {
    "expiresIn": "180d"
  },
  "secret": {
    "jwt": "jwtsecret",
    "token": "abcd1234",
    "cookie": "xyz987"
  },
  "timeout": {
    "token": 7200
  },
  "apk": {
    "webview": {
      "rootPath": "C:/Users/Jun/Projects/WebViewBrowser"
    },
    "chromium": {
      "rootPath": "C:/Users/Jun/Projects/ChromiumBrowser"
    }
  }
}