{
  "name": "Tripleonetech APK service",
  "server": {
    "port": 7102
  },
  "jwtOptions": {
    "expiresIn": "180d"
  },
  "secret": {
    "jwt": "jwtsecret",
    "token": "abcd1234",
    "cookie": "xyz987"
  },
  "timeout": {
    "token": 7200
  },
  "apk": {
    "buildBatPath": "C:/Users/build.bat",
    "gradlePath" : "C:/Users/build/AndroidSafetyBrowserChromium/app",
    "logoPath" : "C:/Users/build/AndroidSafetyBrowserChromium/app/src/main/res"
  }
}